<!--
 * Author: Will Rayner
 * Description: This page provides a form for creating a new profile within an existing household.
 * It includes input fields for first name, last name, date of birth, sex, and a PIN number.
 * Last Updated: 11/06/24 by Will Rayner
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Signup</title>
  
    <!-- CSS files -->
    <link rel="stylesheet" href="/styles/variables.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/chooseAccount.css">
    <link rel="stylesheet" href="/styles/addperson.css">
   
    <!-- SweetAlert2 Library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  
    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            
            <!-- Form handling -->
            <form method="POST" action="/chooseaccount/add-profile" id="create_user">
                <div class="form-title text-center">
                    <h2 class="text-dark">Create Profile</h2>
                    <span>Use the form below to create a new profile</span>
                </div>
                <div class="new_user">
                    <div class="form-group">
                        <label for="firstname">First Name*</label>
                        <input type="text" id="firstname" name="firstname" placeholder="James" required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Last Name*</label>
                        <input type="text" id="surname" name="surname" placeholder="Peterson" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth*</label>
                        <input style="font-size: 1rem" type="date" id="dateOfBirth" name="dateOfBirth" placeholder="DD/MM/YYYY" required>
                    </div>
                    <div class="form-group radio-group">
                        <label>Sex*</label>
                        <div class="radio inline">
                            <input type="radio" id="male" name="sex" value="Male" required>
                            <label for="male">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="female" name="sex" value="Female" required>
                            <label for="female">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pin">Pin number (4 digits)*</label>
                        <input type="text" id="pin" name="pin" pattern="[0-9]{4}" maxlength="4" placeholder="1234" required>
                    </div>
                    <div class="form-group button-group">
                        <button type="submit" class="btn btn-primary">Create Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    
    <!-- JavaScript file -->
    <script src="/js/addperson.js"></script>
</body>
</html>
