<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/navbar.css">
    <link rel="stylesheet" href="/public/styles/dashboard.css">
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="wrapper">
        <div class="container">
            <!-- Page content will be inserted here -->
            <%- body %>
        </div>
    </div>
</body>
</html>
