<html>
<head>
    <title>Admin Login Page</title>
    <link rel="stylesheet" href="/public/styles/adminlogin.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <h2>Admin Login Page</h2>
            <form id="form_id" method="post" action="">
                <label>Enter your username*</label>
                <input type="text" name="username" id="username" />
                <label>Enter your password*</label>
                <input type="password" name="password" id="password" />
                <input type="submit" value="Continue" id="Continue" />
                <p class="form__text">
                    <a class="form__link" href="register.html" id="linkRegister">Not an admin? Log in here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>