html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #6699ff;
    }
    
    .title{
      float: left;
    }
  
    .right{
      float: right;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;    
      font-size: 24px;
    }
    
    li a:hover {
      background-color: #4d88ff;
    }