<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    
    <title>Healthcare Dashboard</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="wrapper">
        <div class="container">
            <div class="tabs-container">
                <div class="left-side">
                    <div class="profile-display">
                        <h2 id="profileName">Profile: <%= profile.first_name %> <%= profile.last_name %></h2>
                    </div>
                    <div class="tabs">
                        <button class="tablinks" onclick="openTab(event, 'Prescriptions')">Your Prescriptions</button>
                        <button class="tablinks" onclick="openTab(event, 'SelfDiagnosis')">Self Diagnosis Tools</button>
                        <button class="tablinks" onclick="openTab(event, 'HealthFAQs')">Health FAQs</button>
                        <button class="tablinks" onclick="openTab(event, 'Appointments')">Your Appointments</button>
                    </div>
                </div>
                <div class="content">
                    <div id="Prescriptions" class="tabcontent">
                        <h2>Why are you taking medications?</h2>
                        <ul>
                            <li>&#8226; Doctors prescribed them to help with different health problems.</li>
                            <li>&#8226; Each medicine targets a specific issue in your body.</li>
                            <li>&#8226; They ensure you stay healthy and feel better.</li>
                        </ul>
                        <h2>Things to Note about Medication</h2>
                        <ul>
                            <li>&#8226; You will get more detail on your medication like dosage, frequency, and duration.</li>
                            <li>&#8226; Possible side effects will be listed to help you understand what to expect.</li>
                            <li>&#8226; Understanding these details will empower you to manage your health effectively.</li>
                        </ul>
                        <p>Learn more about your medications and how they can help you manage your health effectively.</p>
                        <button onclick="location.href='/prescription'">View Prescriptions and Vaccinations</button>
                    </div>
                    
                    <div id="SelfDiagnosis" class="tabcontent">
                        <h2>Self Diagnosis Tools</h2>
                        <p>Explore tools to identify symptoms and learn about preventive measures.</p>
                        <p>Common Health Concerns:</p>
                        <ul>
                            <li><strong>Headaches:</strong> Causes, symptoms, and treatment options</li>
                            <li><strong>Back Pain:</strong> Identifying the source and remedies</li>
                            <li><strong>Common Colds:</strong> Symptoms and ways to alleviate discomfort</li>
                            <li><strong>Allergies:</strong> Understanding triggers and management techniques</li>
                        </ul>
                        <p>Remember to consult a healthcare professional for personalized advice.</p>
                        <button onclick="location.href='/self-diagnosis'">See More</button>
                    </div>
                    
                    <div id="HealthFAQs" class="tabcontent">
                        <h2>Health FAQs</h2>
                        <p>This section helps you understand common health problems in our community. Click on the "See More" button to get useful information about:</p>
                        <ul>
                            <li><strong>Common Diseases:</strong> Learn about illnesses like tuberculosis, malaria, and high blood pressure.</li>
                            <p><strong>Symptoms:</strong> Check if you have any signs of these diseases.</p>
                            <li><strong>Prevention Tips:</strong>  Find out how to keep yourself and your family safe.</li>
                            <p><strong>Healthy Habits:</strong> Discover simple ways to stay healthy, like washing your hands and keeping your home clean.</p>
                        </ul>
                        <p>Click on the button below to learn more about each one of these points</p>
                        <button onclick="location.href='/FAQs'">See More</button>
                    </div>
                    
                
                    <div id="Appointments" class="tabcontent">
                        <h2>General Appointments Information</h2>
                        <p>Here you can manage your appointments, schedule new ones, and review upcoming and past appointments. </p>
                        <p>For detailed information, visit the appointments page.</p>
                      
<button onclick="location.href='/appointments'">View All Appointments</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>
