<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    
    <title>Healthcare Dashboard</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="wrapper">
        <div class="container">
            <div class="tabs-container">
                <div class="left-side">
                    <div class="profile-display">
                        <h2 id="profileName">Profile: <%= profile.first_name %> <%= profile.last_name %></h2>
                    </div>
                    <div class="tabs">
                        <button class="tablinks" onclick="openTab(event, 'Prescriptions')">Your Prescriptions</button>
                        <button class="tablinks" onclick="openTab(event, 'SelfDiagnosis')">Self Help Tools</button>
                        <button class="tablinks" onclick="openTab(event, 'HealthFAQs')">Health Advice</button>
                        <button class="tablinks" onclick="openTab(event, 'Appointments')">Your Appointments</button>
                    </div>
                </div>
                <div class="content">
                    <div id="Prescriptions" class="tabcontent">
                        <h2> Your prescriptions </h2>
                        <p> Here you can see what medicine you should be taking and vaccinations coming to you soon by clicking on <strong>'view prescriptions'</strong> below </p>
                        <h3>Why might you need a prescription or vaccination?</h3>
                        <ul>
                            <li>&#8226; A prescription is medicine given to you by a doctor to fix a problem you are having</li>
                            <li>&#8226; A vaccination is normally an injection given by a doctor to protect you from diseases such as malaria (click <a href="FAQs#malaria"> <strong> here </strong> </a> to learn about malaria)</li>
                        </ul>                       
                        <button onclick="location.href='/prescription'">View Prescriptions and Vaccinations</button>
                    </div>
                    
                    <div id="SelfDiagnosis" class="tabcontent">
                        <h2>Self Help Tools</h2>
                        <p>Here you can complete a form to tell us about your problems and we will give you help on what to do to get better.</p>
                        <p>If you have already spoken to a doctor about your problem and need to speak to them again click <a href="/appointments"> <strong>here</strong></a></p>
                        <button onclick="location.href='/self-diagnosis'">Complete the form here</button>
                    </div>
                    
                    <div id="HealthFAQs" class="tabcontent">
                        <h2>Health Advice</h2>
                        <p>This page helps you learn about common illnesses in your area</p>
                        <p> You can find out how you might feel if you have any of the illnesses and also how to protect yourself from them</p>
                        <p>Click on the button below to learn more</p>
                        <button onclick="location.href='/FAQs'">Get health advice</button>
                    </div>
                    
                
                    <div id="Appointments" class="tabcontent">
                        <h2>General Appointments Information</h2>
                        <p>On this page you can:</p>
                        <ul>
                            <li>&#8226; See appointments you have coming with a doctor</li>
                            <li>&#8226; See information for appointments you have had in the past</li>
                            <li>&#8226; See times and dates available to book an appointment to speak to a doctor</li>
                        </ul>   
                        <p>Click the button below to see your information</p>                      
                        <button onclick="location.href='/appointments'">View All Appointments</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>
