<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/diagnosisResult.css">
    <title>Example Page</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Diagnosis Result</h1>
    <p><%= diagnosis %></p>
</body>
</html>
