<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="../../public/styles/FAQs.css">
    <link rel="stylesheet" href="../../public/styles/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title> FAQs </title>
</head>
<body>
    <ul>
        <li class="title"><a href=""><b>Pu Ngaol Health</b></a></li>
        <li class="right"><a href="FAQs.html">Information</a></li>
        <li class="right"><a href="">Change Account</a></li>
        <li class="right"><a href="selfdiagnosis.html">Self-Diagnosis</a></li>  
        <li class="right"><a href="">Home</a></li>              
        
    </ul>

    <h1> Questions you might have </h1>
    
    <div class="pair">
        <p class="question">Question 1</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus, sem vel porttitor lacinia, est massa rutrum neque, varius condimentum leo lectus eu orci. Maecenas non sem massa. Sed eros magna, viverra at tempor vitae, semper at neque.</p>
    </div>

    <div class="pair">
        <p class="question">Question 2</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus, sem vel porttitor lacinia, est massa rutrum neque, varius condimentum leo lectus eu orci. Maecenas non sem massa. Sed eros magna, viverra at tempor vitae, semper at neque.</p>
    </div>

    <div class="pair">
        <p class="question">Question 3</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus, sem vel porttitor lacinia, est massa rutrum neque, varius condimentum leo lectus eu orci. Maecenas non sem massa. Sed eros magna, viverra at tempor vitae, semper at neque.</p>
    </div>
</body>