<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <h2>Welcome</h2>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>
            <form id="form_id" method="post" action="/login">
                <label>Enter your phone number*</label>
                <input type="text" name="mobileNumber" id="phone" />
                <label>Enter your password*</label>
                <input type="password" name="familyPassword" id="password" />
                
                <div class="btn_wrapper">
                <input class="btn_login" type="submit" value="Continue" id="submit" />
                <button class="btn_login" type="submit" href="adminlogin.html" class="btn text-dark update">Admin Login</button>
                </div>

                <p class="form__text">
                    <a class="form__link" href="register.html" id="linkRegister">Don't have an account? Sign Up</a>
                </p>
                
            </form>
            </form>
            
            
        </div>
    </div>
</body>
</html>
