<html>

<head>
    <title>Healthcare Login System</title>
    <link rel="stylesheet" href="/public/styles/style.css" />
    <script src=""></script>
</head>

<body>
    <div class="container">
        <div class="main">
            <h2>Welcome</h2>
            <form id="form_id" method="post" name="myform">
                <label>Enter your phone number*</label>
                <input type="text" name="phone" id="phone" />
                <label>Enter your password*</label>
                <input type="password" name="password" id="password" />
                <input type="button" value="Continue" id="submit" onclick="validate()" />
                <p class="form__text">
                </p>
            </form>
        </div>
    </div>
</body>

</html>
