<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <h2>Welcome</h2>
            <form id="form_id" method="post" action="/login">
                <label>Enter your phone number*</label>
                <input type="text" name="mobileNumber" id="phone" />
                <label>Enter your password*</label>
                <input type="password" name="familyPassword" id="password" />
                <input type="submit" value="Continue" id="submit" />
                <p class="form__text"></p>
            </form>
            
            
        </div>
    </div>
</body>
</html>
