<html lang="en">
<head>
    <title>Healthcare Signup</title>
    <link rel="stylesheet" href="/public/styles/register.css">
</head>
<body>
    <!--Main Site-->
    <main id="site-main">
        <div class="continer">
                <!-- form handling -->
                <form method="POST" id="add_user">
                    <div class="form-title text-center">
                        <h2 class="text-dark">Create Family Account</h2>
                        <span>Use the form below to create a new family profile</span>
                    </div>
                    <div class="new_user">
                        <div class="form-group">
                            <label for="surname">Household Name*</label>
                            <input type="text" name="surname" value="" placeholder="James">
                        </div>
                        <div class="form-group">
                            <label for="Phone">Family Phone Number*</label>
                            <input type="text" name="Phone" value="" placeholder="012345678">
                        </div>
                        <div class="form-group">
                            <label for="Email">Family Password*</label>
                            <input type="text" name="password" value="" placeholder="">
                        </div>
                        <div class="form-group small-print">
                            <label>I agree with receiving SMS regarding my consultations*</label>
                            <div class="radio inline">
                                <input type="radio" id="sms" name="sms" value="">
                                <label for=""></label>
                            </div>
                        </div>
                        <div class="form-group small-print">
                            <label>I agree to the Terms of Service and Privacy Policy and certify to be over the age of 18*</label>
                            <div class="radio inline">
                                <input type="radio" id="terms" name="terms" value="">
                                <label for=""></label>
                            </div>
                        </div>
                        <div class="form-group button-group">
                            <button type="submit" class="btn text-dark update">Create Account</button>
                        </div>
                        <p class="form__text">
                            <a class="form__link" href="login.ejs" id="linkLogin">Already have an account? Sign In</a>
                        </p>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>