<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/selfdiagnosis.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Self Diagnosis </title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1> Fill in this form to get help </h1>

    <div class="body">
        <img src="/images/femalebody.png">
    </div>

    <div class="form">
        <form action="">
          <label for="description">Describe in detail how you feel:*</label>
          <textarea id="description" name="description"></textarea>
      
          <p>How long have you felt like this?*</p>
          <div class="row">
            <div class="column">
                <input id="duration" type="radio" name="duration" value="justhappened">
                <label id="justhappened" for="justhappened">Just happened</label><br>
                <input id="duration" type="radio" name="duration" value="dayorless">
                <label id="dayorless" for="dayorless">A day or less</label><br>
            </div>
            <div class="column">
                <input id="duration" type="radio" name="duration" value="weekormore">
                <label id="weekormore" for="weekormore">A week or more</label><br>
                <input id="duration" type="radio" name="duration" value="morethanmonth">
                <label id="morethanmonth" for="morethanmonth">More than a month and &emsp; have got worse</label>
            </div>
        </form>
      </div>
      
</body>
