<div class="navbar-wrapper">
    <div class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="">
                    <img src="/icons/house-solid.svg" alt="Home Icon" class="navbar-icon">
                    <div class="navbar-name">Home</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="selfdiagnosis.html">
                    <img src="/icons/stethoscope-solid.svg" alt="Self-Diagnosis Icon" class="navbar-icon">
                    <div class="navbar-name">Self-Diagnosis</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#">
                    <img src="/icons/user-solid.svg" alt="Account Icon" class="navbar-icon">
                    <div class="navbar-name">Account</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#">
                    <img src="/icons/calendar-days-solid.svg" alt="Appointment Booking Icon" class="navbar-icon">
                    <div class="navbar-name">Appointment Booking</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#">
                    <img src="/icons/prescription-bottle-solid.svg" alt="Prescription Management Icon" class="navbar-icon">
                    <div class="navbar-name">Prescription Management</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#">
                    <img src="/icons/book-open-solid.svg" alt="Health Education Page Icon" class="navbar-icon">
                    <div class="navbar-name">Health Education Page</div>
                </a>
            </li>
        </ul>
    </div>
</div>
