<!--
 * Author: Liberty Harrington
 * Description: This page defines a navigation bar with links for Home, Account Selection, and Logout.
 * Last Updated: [12/06/2024] by Ed Turner
-->

<div class="navbar-wrapper">
    <div class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="#" onclick="goToDashboard()">
                    <img src="/icons/house-solid.svg" alt="Home Icon" class="navbar-icon">
                    <div class="navbar-name">Home</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/chooseaccount">
                    <img src="/icons/users-solid.svg" alt="Accounts Icon" class="navbar-icon">
                    <div class="navbar-name">Select Account</div>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#" onclick="logout()">
                    <img src="/icons/right-from-bracket-solid.svg" alt="Logout Icon" class="navbar-icon">
                    <div class="navbar-name">Logout</div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="/js/navbar.js"></script>
