/* Import variables */
@import 'variables.css';

body, html {
    font-family: var(--font-family);
    background-color: white;
    color: var(--body-text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form#create_user {
    margin: 20px auto;
    padding: 5px 100px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    padding: 2rem;
}

.container {
    display: flex;
    flex: 1;
}

.form-title {
    color: var(--profile-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: var(--profile-text-color);
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--profile-text-color);
}

.form-group input[type="text"]::placeholder,
.form-group input[type="date"]::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group.radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-group.radio-group .radio {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-group.radio-group .radio input[type="radio"] {
    display: none;
}

.form-group.radio-group .radio label {
    margin: 0;
    font-size: 1rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-group.radio-group .radio label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.form-group.radio-group .radio input[type="radio"]:checked + label::before {
    background-color: var(--primary-color);
    color: var(--primary-color);
}

.form-group.radio-group .radio input[type="radio"]:checked + label {
    color: var(--primary-color);
}

button.btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

button.btn:hover {
    background: var(--nav-hovertwo-color);
    transform: scale(1.05);
}

.form-group.button-group {
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: var(--profile-text-color);
    font-size: 32px;
}
