/* appointments.css */
@import 'navbar.css';

body {
    font-family: var(--font-family);
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
}

.appointments-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 100px; /* Increased margin to account for fixed navbar */
}

.appointments-title, .current-appointments-title, .upcoming-appointments-title {
    text-align: center;
    color: var(--profile-text-color);
    
}

.appointments-title {
    padding-bottom: 20px;
    border-bottom: 2px solid #1e3a5f;
}

.current-appointments-list, .upcoming-appointments-list {
    list-style: none;
    padding: 0;
}

.no-appointments-message, .no-upcoming-appointments-message {
    color: #666;
    text-align: center;
}

.appointment-item, .upcoming-appointment-item {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #3498db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointment-item:nth-child(even), .upcoming-appointment-item:nth-child(even) {
    background: #f1f1f1;
}

.appointment-details, .upcoming-appointment-details {
    flex-grow: 1;
}

.appointment-type, .upcoming-appointment-type {
    font-size: 1.2em;
    color: #333;
}

.appointment-notes, .upcoming-appointment-notes {
    margin: 0;
    color: #666;
}

.book-appointment-form, .cancel-appointment-form {
    display: inline;
}

.book-appointment-button, .cancel-appointment-button {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px; /* Ensures buttons are the same size */
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
    font-size: 1em; /* Ensures buttons are the same size */
    margin-left: 10px;
}

.book-appointment-button:hover, .cancel-appointment-button:hover {
    background: var(--nav-hover-color);
}
