@import 'variables.css';

body, html {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* background: radial-gradient(circle at 50% 50%, #2d2d2d, #1f1f1f); */
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 90vh; /* Adjust this to control the height of the wrapper */
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.tabs-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1; /* This will allow the container to take up remaining space */
}

.left-side {
    flex: 0 0 30%;
    background: var(--background-color);
    padding: 20px;
    border-right: 2px solid #1e3a5f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-display h2 {
    color: var(--profile-text-color);
    margin-bottom: 20px;
}

.tabs {
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.tablinks {
    background-color: var(--tab-background-color);
    color: var(--profile-text-color);
    padding: 15px 20px;
    border: none;
    text-align: left;
    font-size: var(--font-size-base);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
    width: 100%;
}

.tablinks:hover, .tablinks.active {
    background-color: #9eb3d0;
}

.content {
    flex: 1; /* This will allow the content to take up remaining space */
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 20px;
    overflow-y: hidden; /* Hide overflow initially */
}

.tabcontent {
    display: none;
    flex: 1;
    width: 650px;
    overflow-y: auto; /* Enable scrolling for overflow content */
    height: 100%; /* Ensure full height */
}

.tabcontent h2 {
    color: var(--profile-text-color);
}

.tabcontent p, .tabcontent ul, .tabcontent button {
    color: var(--profile-text-color);
}

.tabcontent ul {
    list-style-type: none;
    padding: 0;
}

.tabcontent ul li {
    margin-bottom: 10px;
}

.tabcontent button {
    background-color:#1e3a5f;
    color: white;
    border: none;
    padding: 15px 30px; /* Increased padding for larger size */
    cursor: pointer;
    border-radius: var(--border-radius); /* Increased border radius for a smoother appearance */
    transition: background-color 0.3s ease;
    font-size: var(--font-size-large); /* Increased font size for better visibility */
    font-weight: bold; /* Bold font weight for emphasis */
}

.tabcontent button:hover {
    background-color: #3e5b84; /* Darker background color on hover for further emphasis */
}
