@import 'variables.css';

body{
  font-family: var(--font-family);
  padding-bottom: 300px;  /* Adjust this value as needed */
  margin: 0;
}

h1{
  text-align: center;
  margin: 80px 0 50px 0;
  color: #5184c8;
}

.pair{
  margin: 0 8% 50px 8%;
  border: solid #6492ce 4px;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  scroll-margin-top: 100px;
}

.question{
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.answer{
  font-size: 20px;
}

ul{
  font-size: 20px;
}

li{
  margin-bottom: 5px;
}

li::marker{
  color:#6492ce;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

p{
  font-size:20px;
}