/*
 * Author: Ed Turner
 * Description: This stylesheet contains the styles for the navigation bar and general page layout.
 * Variables are imported from variables.css 
 * Last Updated: [11/06/2024] by Ed Turner
 */



@import 'variables.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    position: relative;
}

.navbar-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color); /* Set text color to white */
    padding: 14px 16px;
    font-size: 14px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
    transition: filter 0.3s ease;
}

.navbar-icon-large {
    width: 32px;
    height: 32px;
}

.navbar-item a:hover {
    background-color: var(--nav-hover-color);
    border-radius: 5px;
}

.navbar-item a:hover .navbar-icon {
    filter: invert(86%) sepia(67%) saturate(659%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

/* Add padding to the body to avoid content being hidden under the navbar */
body {
    padding-top: 60px;
    background-color: var(--background-color);
}
